{
    "ServiceSettings": {
        "SiteURL": "{{ Service_SiteURL }}",
        "LicenseFileLocation": "{{ Service_LicenseFileLocation }}",
        "ListenAddress": "{{ Service_ListenAddress }}",
        "ConnectionSecurity": "{{ Service_ConnectionSecurity }}",
        "TLSCertFile": "{{ Service_TLSCertFile }}",
        "TLSKeyFile": "{{ Service_TLSKeyFile }}",
        "UseLetsEncrypt": {{ Service_UseLetsEncrypt }},
        "LetsEncryptCertificateCacheFile": "{{ Service_LetsEncryptCertificateCacheFile }}",
        "Forward80To443": {{ Service_Forward80To443 }},
        "ReadTimeout": {{ Service_ReadTimeout }},
        "WriteTimeout": {{ Service_WriteTimeout }},
        "MaximumLoginAttempts": {{ Service_MaximumLoginAttempts }},
        "GoroutineHealthThreshold": {{ Service_GoroutineHealthThreshold }},
        "GoogleDeveloperKey": "{{ Service_GoogleDeveloperKey }}",
        "EnableOAuthServiceProvider": {{ Service_EnableOAuthServiceProvider }},
        "EnableIncomingWebhooks": {{ Service_EnableIncomingWebhooks }},
        "EnableOutgoingWebhooks": {{ Service_EnableOutgoingWebhooks }},
        "EnableCommands": {{ Service_EnableCommands }},
        "EnableOnlyAdminIntegrations": {{ Service_EnableOnlyAdminIntegrations }},
        "EnablePostUsernameOverride": {{ Service_EnablePostUsernameOverride }},
        "EnablePostIconOverride": {{ Service_EnablePostIconOverride }},
        "EnableAPIv3": {{ Service_EnableAPIv3 }},
        "EnableLinkPreviews": {{ Service_EnableLinkPreviews }},
        "EnableTesting": {{ Service_EnableTesting }},
        "EnableDeveloper": {{ Service_EnableDeveloper }},
        "EnableSecurityFixAlert": {{ Service_EnableSecurityFixAlert }},
        "EnableInsecureOutgoingConnections": {{ Service_EnableInsecureOutgoingConnections }},
        "AllowedUntrustedInternalConnections": {{ Service_AllowedUntrustedInternalConnections }}"",
        "EnableMultifactorAuthentication": {{ Service_EnableMultifactorAuthentication }},
        "EnforceMultifactorAuthentication": {{ Service_EnforceMultifactorAuthentication }},
        "EnableUserAccessTokens": {{ Service_EnableUserAccessTokens }},
        "AllowCorsFrom": {{ Service_AllowCorsFrom }}"",
        "SessionLengthWebInDays": {{ Service_SessionLengthWebInDays }},
        "SessionLengthMobileInDays": {{ Service_SessionLengthMobileInDays }},
        "SessionLengthSSOInDays": {{ Service_SessionLengthSSOInDays }},
        "SessionCacheInMinutes": {{ Service_SessionCacheInMinutes }},
        "SessionIdleTimeoutInMinutes": {{ Service_SessionIdleTimeoutInMinutes }},
        "WebsocketSecurePort": {{ Service_WebsocketSecurePort }},
        "WebsocketPort": {{ Service_WebsocketPort }},
        "WebserverMode": "{{ Service_WebserverMode }}",
        "EnableCustomEmoji": {{ Service_EnableCustomEmoji }},
        "EnableEmojiPicker": {{ Service_EnableEmojiPicker }},
        "RestrictCustomEmojiCreation": "{{ Service_RestrictCustomEmojiCreation }}",
        "RestrictPostDelete": "{{ Service_RestrictPostDelete }}",
        "AllowEditPost": "{{ Service_AllowEditPost }}",
        "PostEditTimeLimit": {{ Service_PostEditTimeLimit }},
        "TimeBetweenUserTypingUpdatesMilliseconds": {{ Service_TimeBetweenUserTypingUpdatesMilliseconds }},
        "EnablePostSearch": {{ Service_EnablePostSearch }},
        "EnableUserTypingMessages": {{ Service_EnableUserTypingMessages }},
        "EnableChannelViewedMessages": {{ Service_EnableChannelViewedMessages }},
        "EnableUserStatuses": {{ Service_EnableUserStatuses }},
        "ClusterLogTimeoutMilliseconds": {{ Service_ClusterLogTimeoutMilliseconds }},
        "CloseUnusedDirectMessages": {{ Service_CloseUnusedDirectMessages }}
    },
    "TeamSettings": {
        "SiteName": "{{ Team_SiteName }}",
        "MaxUsersPerTeam": {{ Team_MaxUsersPerTeam }},
        "EnableTeamCreation": {{ Team_EnableTeamCreation }},
        "EnableUserCreation": {{ Team_EnableUserCreation }},
        "EnableOpenServer": {{ Team_EnableOpenServer }},
        "RestrictCreationToDomains": "{{ Team_RestrictCreationToDomains }}",
        "EnableCustomBrand": {{ Team_EnableCustomBrand }},
        "CustomBrandText": "{{ Team_CustomBrandText }}",
        "CustomDescriptionText": "{{ Team_CustomDescriptionText }}",
        "RestrictDirectMessage": "{{ Team_RestrictDirectMessage }}",
        "RestrictTeamInvite": "{{ Team_RestrictTeamInvite }}",
        "RestrictPublicChannelManagement": "{{ Team_RestrictPublicChannelManagement }}",
        "RestrictPrivateChannelManagement": "{{ Team_RestrictPrivateChannelManagement }}",
        "RestrictPublicChannelCreation": "{{ Team_RestrictPublicChannelCreation }}",
        "RestrictPrivateChannelCreation": "{{ Team_RestrictPrivateChannelCreation }}",
        "RestrictPublicChannelDeletion": "{{ Team_RestrictPublicChannelDeletion }}",
        "RestrictPrivateChannelDeletion": "{{ Team_RestrictPrivateChannelDeletion }}",
        "RestrictPrivateChannelManageMembers": "{{ Team_RestrictPrivateChannelManageMembers }}",
        "EnableXToLeaveChannelsFromLHS": {{ Team_EnableXToLeaveChannelsFromLHS }},
        "UserStatusAwayTimeout": {{ Team_UserStatusAwayTimeout }},
        "MaxChannelsPerTeam": {{ Team_MaxChannelsPerTeam }},
        "MaxNotificationsPerChannel": {{ Team_MaxNotificationsPerChannel }},
        "EnableConfirmNotificationsToChannel": {{ Team_EnableConfirmNotificationsToChannel }},
        "TeammateNameDisplay": "{{ Team_TeammateNameDisplay }}",
        "ExperimentalTownSquareIsReadOnly": {{ Team_ExperimentalTownSquareIsReadOnly }}
    },
    "ClientRequirements": {
        "AndroidLatestVersion": "{{ ClientRequirements_AndroidLatestVersion }}",
        "AndroidMinVersion": "{{ ClientRequirements_AndroidMinVersion }}",
        "DesktopLatestVersion": "{{ ClientRequirements_DesktopLatestVersion }}",
        "DesktopMinVersion": "{{ ClientRequirements_DesktopMinVersion }}",
        "IosLatestVersion": "{{ ClientRequirements_IosLatestVersion }}",
        "IosMinVersion": "{{ ClientRequirements_IosMinVersion }}"
    },
    "SqlSettings": {
        "DriverName": "postgres",
        "DataSource": "postgres://{{ db_user }}:{{ db_password }}@127.0.0.1:5432/{{ db_name }}?sslmode=disable\u0026connect_timeout=10",
        "DataSourceReplicas": {{ Sql_DataSourceReplicas }},
        "DataSourceSearchReplicas": {{ Sql_DataSourceSearchReplicas }},
        "MaxIdleConns": {{ Sql_MaxIdleConns }},
        "MaxOpenConns": {{ Sql_MaxOpenConns }},
        "Trace": {{ Sql_Trace }},
        "AtRestEncryptKey": "{{ Sql_AtRestEncryptKey }}",
        "QueryTimeout": {{ Sql_QueryTimeout }}
    },
    "LogSettings": {
        "EnableConsole": {{ Log_EnableConsole }},
        "ConsoleLevel": "{{ Log_ConsoleLevel }}",
        "EnableFile": {{ Log_EnableFile }},
        "FileLevel": "{{ Log_FileLevel }}",
        "FileFormat": "{{ Log_FileFormat }}",
        "FileLocation": "{{ Log_FileLocation }}",
        "EnableWebhookDebugging": {{ Log_EnableWebhookDebugging }},
        "EnableDiagnostics": {{ Log_EnableDiagnostics }}
    },
    "PasswordSettings": {
        "MinimumLength": {{ Password_MinimumLength }},
        "Lowercase": {{ Password_Lowercase }},
        "Number": {{ Password_Number }},
        "Uppercase": {{ Password_Uppercase }},
        "Symbol": {{ Password_Symbol }}
    },
    "FileSettings": {
        "EnableFileAttachments": {{ File_EnableFileAttachments }},
        "EnableMobileUpload": {{ File_EnableMobileUpload }},
        "EnableMobileDownload": {{ File_EnableMobileDownload }},
        "MaxFileSize": {{ File_MaxFileSize }},
        "DriverName": "{{ File_DriverName }}",
        "Directory": "{{ File_Directory }}",
        "EnablePublicLink": {{ File_EnablePublicLink }},
        "PublicLinkSalt": "{{ File_PublicLinkSalt }}",
        "InitialFont": "{{ File_InitialFont }}",
        "AmazonS3AccessKeyId": "{{ File_AmazonS3AccessKeyId }}",
        "AmazonS3SecretAccessKey": "{{ File_AmazonS3SecretAccessKey }}",
        "AmazonS3Bucket": "{{ File_AmazonS3Bucket }}",
        "AmazonS3Region": "{{ File_AmazonS3Region }}",
        "AmazonS3Endpoint": "{{ File_AmazonS3Endpoint }}",
        "AmazonS3SSL": {{ File_AmazonS3SSL }},
        "AmazonS3SignV2": {{ File_AmazonS3SignV2 }},
        "AmazonS3SSE": {{ File_AmazonS3SSE }},
        "AmazonS3Trace": {{ File_AmazonS3Trace }}
    },
    "EmailSettings": {
        "EnableSignUpWithEmail": {{ Email_EnableSignUpWithEmail }},
        "EnableSignInWithEmail": {{ Email_EnableSignInWithEmail }},
        "EnableSignInWithUsername": {{ Email_EnableSignInWithUsername }},
        "SendEmailNotifications": {{ Email_SendEmailNotifications }},
        "RequireEmailVerification": {{ Email_RequireEmailVerification }},
        "FeedbackName": "{{ Email_FeedbackName }}",
        "FeedbackEmail": "{{ Email_FeedbackEmail }}",
        "FeedbackOrganization": "{{ Email_FeedbackOrganization }}",
        "EnableSMTPAuth": {{ Email_EnableSMTPAuth }},
        "SMTPUsername": "{{ Email_SMTPUsername }}",
        "SMTPPassword": "{{ Email_SMTPPassword }}",
        "SMTPServer": "{{ Email_SMTPServer }}",
        "SMTPPort": "{{ Email_SMTPPort }}",
        "ConnectionSecurity": "{{ Email_ConnectionSecurity }}",
        "InviteSalt": "{{ Email_InviteSalt }}",
        "SendPushNotifications": {{ Email_SendPushNotifications }},
        "PushNotificationServer": "{{ Email_PushNotificationServer }}",
        "PushNotificationContents": "{{ Email_PushNotificationContents }}",
        "EnableEmailBatching": {{ Email_EnableEmailBatching }},
        "EmailBatchingBufferSize": {{ Email_EmailBatchingBufferSize }},
        "EmailBatchingInterval": {{ Email_EmailBatchingInterval }},
        "SkipServerCertificateVerification": {{ Email_SkipServerCertificateVerification }},
        "EmailNotificationContentsType": "{{ Email_EmailNotificationContentsType }}"
    },
    "RateLimitSettings": {
        "Enable": {{ RateLimit_Enable }},
        "PerSec": {{ RateLimit_PerSec }},
        "MaxBurst": {{ RateLimit_MaxBurst }},
        "MemoryStoreSize": {{ RateLimit_MemoryStoreSize }},
        "VaryByRemoteAddr": {{ RateLimit_VaryByRemoteAddr }},
        "VaryByHeader": "{{ RateLimit_VaryByHeader }}"
    },
    "PrivacySettings": {
        "ShowEmailAddress": {{ Privacy_ShowEmailAddress }},
        "ShowFullName": {{ Privacy_ShowFullName }}
    },
    "SupportSettings": {
        "TermsOfServiceLink": "{{ Support_TermsOfServiceLink }}",
        "PrivacyPolicyLink": "{{ Support_PrivacyPolicyLink }}",
        "AboutLink": "{{ Support_AboutLink }}",
        "HelpLink": "{{ Support_HelpLink }}",
        "ReportAProblemLink": "{{ Support_ReportAProblemLink }}",
        "SupportEmail": "{{ Support_SupportEmail }}"
    },
    "AnnouncementSettings": {
        "EnableBanner": {{ Announcement_EnableBanner }},
        "BannerText": "{{ Announcement_BannerText }}",
        "BannerColor": "{{ Announcement_BannerColor }}",
        "BannerTextColor": "{{ Announcement_BannerTextColor }}",
        "AllowBannerDismissal": {{ Announcement_AllowBannerDismissal }}
    },
    "ThemeSettings": {
        "EnableThemeSelection": {{ Theme_EnableThemeSelection }},
        "DefaultTheme": "{{ Theme_DefaultTheme }}",
        "AllowCustomThemes": {{ Theme_AllowCustomThemes }},
        "AllowedThemes": {{ Theme_AllowedThemes }}
    },
    "GitLabSettings": {
        "Enable": {{ GitLab_Enable }},
        "Secret": "{{ GitLab_Secret }}",
        "Id": "{{ GitLab_Id }}",
        "Scope": "{{ GitLab_Scope }}",
        "AuthEndpoint": "{{ GitLab_AuthEndpoint }}",
        "TokenEndpoint": "{{ GitLab_TokenEndpoint }}",
        "UserApiEndpoint": "{{ GitLab_UserApiEndpoint }}"
    },
    "GoogleSettings": {
        "Enable": {{ Google_Enable }},
        "Secret": "{{ Google_Secret }}",
        "Id": "{{ Google_Id }}",
        "Scope": "{{ Google_Scope }}",
        "AuthEndpoint": "{{ Google_AuthEndpoint }}",
        "TokenEndpoint": "{{ Google_TokenEndpoint }}",
        "UserApiEndpoint": "{{ Google_UserApiEndpoint }}"
    },
    "Office365Settings": {
        "Enable": {{ Office365_Enable }},
        "Secret": "{{ Office365_Secret }}",
        "Id": "{{ Office365_Id }}",
        "Scope": "{{ Office365_Scope }}",
        "AuthEndpoint": "{{ Office365_AuthEndpoint }}",
        "TokenEndpoint": "{{ Office365_TokenEndpoint }}",
        "UserApiEndpoint": "{{ Office365_UserApiEndpoint }}"
    },
    "LdapSettings": {
        "Enable": {{ Ldap_Enable }},
        "EnableSync": {{ Ldap_EnableSync }},
        "LdapServer": "{{ Ldap_LdapServer }}",
        "LdapPort": {{ Ldap_LdapPort }},
        "ConnectionSecurity": "{{ Ldap_ConnectionSecurity }}",
        "BaseDN": "{{ Ldap_BaseDN }}",
        "BindUsername": "{{ Ldap_BindUsername }}",
        "BindPassword": "{{ Ldap_BindPassword }}",
        "UserFilter": "{{ Ldap_UserFilter }}",
        "FirstNameAttribute": "{{ Ldap_FirstNameAttribute }}",
        "LastNameAttribute": "{{ Ldap_LastNameAttribute }}",
        "EmailAttribute": "{{ Ldap_EmailAttribute }}",
        "UsernameAttribute": "{{ Ldap_UsernameAttribute }}",
        "NicknameAttribute": "{{ Ldap_NicknameAttribute }}",
        "IdAttribute": "{{ Ldap_IdAttribute }}",
        "PositionAttribute": "{{ Ldap_PositionAttribute }}",
        "SyncIntervalMinutes": {{ Ldap_SyncIntervalMinutes }},
        "SkipCertificateVerification": {{ Ldap_SkipCertificateVerification }},
        "QueryTimeout": {{ Ldap_QueryTimeout }},
        "MaxPageSize": {{ Ldap_MaxPageSize }},
        "LoginFieldName": "{{ Ldap_LoginFieldName }}"
    },
    "ComplianceSettings": {
        "Enable": {{ Compliance_Enable }},
        "Directory": "{{ Compliance_Directory }}",
        "EnableDaily": {{ Compliance_EnableDaily }}
    },
    "LocalizationSettings": {
        "DefaultServerLocale": "{{ Localization_DefaultServerLocale }}",
        "DefaultClientLocale": "{{ Localization_DefaultClientLocale }}",
        "AvailableLocales": "{{ Localization_AvailableLocales }}"
    },
    "SamlSettings": {
        "Enable": {{ Saml_Enable }},
        "EnableSyncWithLdap": {{ Saml_EnableSyncWithLdap }},
        "Verify": {{ Saml_Verify }},
        "Encrypt": {{ Saml_Encrypt }},
        "IdpUrl": "{{ Saml_IdpUrl }}",
        "IdpDescriptorUrl": "{{ Saml_IdpDescriptorUrl }}",
        "AssertionConsumerServiceURL": "{{ Saml_AssertionConsumerServiceURL }}",
        "IdpCertificateFile": "{{ Saml_IdpCertificateFile }}",
        "PublicCertificateFile": "{{ Saml_PublicCertificateFile }}",
        "PrivateKeyFile": "{{ Saml_PrivateKeyFile }}",
        "FirstNameAttribute": "{{ Saml_FirstNameAttribute }}",
        "LastNameAttribute": "{{ Saml_LastNameAttribute }}",
        "EmailAttribute": "{{ Saml_EmailAttribute }}",
        "UsernameAttribute": "{{ Saml_UsernameAttribute }}",
        "NicknameAttribute": "{{ Saml_NicknameAttribute }}",
        "LocaleAttribute": "{{ Saml_LocaleAttribute }}",
        "PositionAttribute": "{{ Saml_PositionAttribute }}",
        "LoginButtonText": "{{ Saml_LoginButtonText }}"
    },
    "NativeAppSettings": {
        "AppDownloadLink": "{{ NativeApp_AppDownloadLink }}",
        "AndroidAppDownloadLink": "{{ NativeApp_AndroidAppDownloadLink }}",
        "IosAppDownloadLink": "{{ NativeApp_IosAppDownloadLink }}"
    },
    "ClusterSettings": {
        "Enable": {{ Cluster_Enable }},
        "ClusterName": "{{ Cluster_ClusterName }}",
        "OverrideHostname": "{{ Cluster_OverrideHostname }}",
        "UseIpAddress": {{ Cluster_UseIpAddress }},
        "UseExperimentalGossip": {{ Cluster_UseExperimentalGossip }},
        "ReadOnlyConfig": {{ Cluster_ReadOnlyConfig }},
        "GossipPort": {{ Cluster_GossipPort }},
        "StreamingPort": {{ Cluster_StreamingPort }}
    },
    "MetricsSettings": {
        "Enable": {{ Metrics_Enable }},
        "BlockProfileRate": {{ Metrics_BlockProfileRate }},
        "ListenAddress": "{{ Metrics_ListenAddress }}"
    },
    "AnalyticsSettings": {
        "MaxUsersForStatistics": {{ Analytics_MaxUsersForStatistics }}
    },
    "WebrtcSettings": {
        "Enable": {{ Webrtc_Enable }},
        "GatewayWebsocketUrl": "{{ Webrtc_GatewayWebsocketUrl }}",
        "GatewayAdminUrl": "{{ Webrtc_GatewayAdminUrl }}",
        "GatewayAdminSecret": "{{ Webrtc_GatewayAdminSecret }}",
        "StunURI": "{{ Webrtc_StunURI }}",
        "TurnURI": "{{ Webrtc_TurnURI }}",
        "TurnUsername": "{{ Webrtc_TurnUsername }}",
        "TurnSharedKey": "{{ Webrtc_TurnSharedKey }}"
    },
    "ElasticsearchSettings": {
        "ConnectionUrl": "{{ Elasticsearch_ConnectionUrl }}",
        "Username": "{{ Elasticsearch_Username }}",
        "Password": "{{ Elasticsearch_Password }}",
        "EnableIndexing": {{ Elasticsearch_EnableIndexing }},
        "EnableSearching": {{ Elasticsearch_EnableSearching }},
        "Sniff": {{ Elasticsearch_Sniff }},
        "PostIndexReplicas": {{ Elasticsearch_PostIndexReplicas }},
        "PostIndexShards": {{ Elasticsearch_PostIndexShards }},
        "AggregatePostsAfterDays": {{ Elasticsearch_AggregatePostsAfterDays }},
        "PostsAggregatorJobStartTime": "{{ Elasticsearch_PostsAggregatorJobStartTime }}",
        "IndexPrefix": "{{ Elasticsearch_IndexPrefix }}",
        "LiveIndexingBatchSize": {{ Elasticsearch_LiveIndexingBatchSize }},
        "BulkIndexingTimeWindowSeconds": {{ Elasticsearch_BulkIndexingTimeWindowSeconds }},
        "RequestTimeoutSeconds": {{ Elasticsearch_RequestTimeoutSeconds }}
    },
    "DataRetentionSettings": {
        "EnableMessageDeletion": {{ DataRetention_EnableMessageDeletion }},
        "EnableFileDeletion": {{ DataRetention_EnableFileDeletion }},
        "MessageRetentionDays": {{ DataRetention_MessageRetentionDays }},
        "FileRetentionDays": {{ DataRetention_FileRetentionDays }},
        "DeletionJobStartTime": "{{ DataRetention_DeletionJobStartTime }}"
    },
    "JobSettings": {
        "RunJobs": {{ Job_RunJobs }},
        "RunScheduler": {{ Job_RunScheduler }}
    },
    "PluginSettings": {
        "Enable": {{ Plugin_Enable }},
        "EnableUploads": {{ Plugin_EnableUploads }},
        "Directory": "{{ Plugin_Directory }}",
        "Plugins": {{ Plugin_Plugins }},
        "PluginStates": {{ Plugin_PluginStates }}
    }
}
