{
    "ServiceSettings": {
        "SiteURL": "{{ Service_SiteURL }}",
        "LicenseFileLocation": "{{ Service_LicenseFileLocation }}",
        "ListenAddress": "{{ Service_ListenAddress }}",
        "ConnectionSecurity": "{{ Service_ConnectionSecurity }}",
        "TLSCertFile": "{{ Service_TLSCertFile }}",
        "TLSKeyFile": "{{ Service_TLSKeyFile }}",
        "UseLetsEncrypt": {{ Service_UseLetsEncrypt }},
        "LetsEncryptCertificateCacheFile": "{{ Service_LetsEncryptCertificateCacheFile }}",
        "Forward80To443": {{ Service_Forward80To443 }},
        "ReadTimeout": {{ Service_ReadTimeout }},
        "WriteTimeout": {{ Service_WriteTimeout }},
        "MaximumLoginAttempts": {{ Service_MaximumLoginAttempts }},
        "GoroutineHealthThreshold": {{ Service_GoroutineHealthThreshold }},
        "GoogleDeveloperKey": "{{ Service_GoogleDeveloperKey }}",
        "EnableOAuthServiceProvider": {{ Service_EnableOAuthServiceProvider }},
        "EnableIncomingWebhooks": {{ Service_EnableIncomingWebhooks }},
        "EnableOutgoingWebhooks": {{ Service_EnableOutgoingWebhooks }},
        "EnableCommands": {{ Service_EnableCommands }},
        "EnableOnlyAdminIntegrations": {{ Service_EnableOnlyAdminIntegrations }},
        "EnablePostUsernameOverride": {{ Service_EnablePostUsernameOverride }},
        "EnablePostIconOverride": {{ Service_EnablePostIconOverride }},
        "EnableAPIv3": {{ Service_EnableAPIv3 }},
        "EnableLinkPreviews": {{ Service_EnableLinkPreviews }},
        "EnableTesting": {{ Service_EnableTesting }},
        "EnableDeveloper": {{ Service_EnableDeveloper }},
        "EnableSecurityFixAlert": {{ Service_EnableSecurityFixAlert }},
        "EnableInsecureOutgoingConnections": {{ Service_EnableInsecureOutgoingConnections }},
        "AllowedUntrustedInternalConnections": {{ Service_AllowedUntrustedInternalConnections }}"",
        "EnableMultifactorAuthentication": {{ Service_EnableMultifactorAuthentication }},
        "EnforceMultifactorAuthentication": {{ Service_EnforceMultifactorAuthentication }},
        "EnableUserAccessTokens": {{ Service_EnableUserAccessTokens }},
        "AllowCorsFrom": {{ Service_AllowCorsFrom }}"",
        "SessionLengthWebInDays": {{ Service_SessionLengthWebInDays }},
        "SessionLengthMobileInDays": {{ Service_SessionLengthMobileInDays }},
        "SessionLengthSSOInDays": {{ Service_SessionLengthSSOInDays }},
        "SessionCacheInMinutes": {{ Service_SessionCacheInMinutes }},
        "SessionIdleTimeoutInMinutes": {{ Service_SessionIdleTimeoutInMinutes }},
        "WebsocketSecurePort": {{ Service_WebsocketSecurePort }},
        "WebsocketPort": {{ Service_WebsocketPort }},
        "WebserverMode": "{{ Service_WebserverMode }}",
        "EnableCustomEmoji": {{ Service_EnableCustomEmoji }},
        "EnableEmojiPicker": {{ Service_EnableEmojiPicker }},
        "RestrictCustomEmojiCreation": "{{ Service_RestrictCustomEmojiCreation }}",
        "RestrictPostDelete": "{{ Service_RestrictPostDelete }}",
        "AllowEditPost": "{{ Service_AllowEditPost }}",
        "PostEditTimeLimit": {{ Service_PostEditTimeLimit }},
        "TimeBetweenUserTypingUpdatesMilliseconds": {{ Service_TimeBetweenUserTypingUpdatesMilliseconds }},
        "EnablePostSearch": {{ Service_EnablePostSearch }},
        "EnableUserTypingMessages": {{ Service_EnableUserTypingMessages }},
        "EnableChannelViewedMessages": {{ Service_EnableChannelViewedMessages }},
        "EnableUserStatuses": {{ Service_EnableUserStatuses }},
        "ClusterLogTimeoutMilliseconds": {{ Service_ClusterLogTimeoutMilliseconds }}
    },
    "TeamSettings": {
        "SiteName": "{{ Team_SiteName }}",
        "MaxUsersPerTeam": {{ Team_MaxUsersPerTeam }},
        "EnableTeamCreation": {{ Team_EnableTeamCreation }},
        "EnableUserCreation": {{ Team_EnableUserCreation }},
        "EnableOpenServer": {{ Team_EnableOpenServer }},
        "RestrictCreationToDomains": "{{ Team_RestrictCreationToDomains }}",
        "EnableCustomBrand": {{ Team_EnableCustomBrand }},
        "CustomBrandText": "{{ Team_CustomBrandText }}",
        "CustomDescriptionText": "{{ Team_CustomDescriptionText }}",
        "RestrictDirectMessage": "{{ Team_RestrictDirectMessage }}",
        "RestrictTeamInvite": "{{ Team_RestrictTeamInvite }}",
        "RestrictPublicChannelManagement": "{{ Team_RestrictPublicChannelManagement }}",
        "RestrictPrivateChannelManagement": "{{ Team_RestrictPrivateChannelManagement }}",
        "RestrictPublicChannelCreation": "{{ Team_RestrictPublicChannelCreation }}",
        "RestrictPrivateChannelCreation": "{{ Team_RestrictPrivateChannelCreation }}",
        "RestrictPublicChannelDeletion": "{{ Team_RestrictPublicChannelDeletion }}",
        "RestrictPrivateChannelDeletion": "{{ Team_RestrictPrivateChannelDeletion }}",
        "RestrictPrivateChannelManageMembers": "{{ Team_RestrictPrivateChannelManageMembers }}",
        "EnableXToLeaveChannelsFromLHS": "{{ Team_EnableXToLeaveChannelsFromLHS }}",
        "UserStatusAwayTimeout": "{{ Team_UserStatusAwayTimeout }}",
        "MaxChannelsPerTeam": {{ Team_MaxChannelsPerTeam }},
        "MaxNotificationsPerChannel": {{ Team_MaxNotificationsPerChannel }},
        "EnableConfirmNotificationsToChannel": {{ Team_EnableConfirmNotificationsToChannel }},
        "TeammateNameDisplay": "{{ Team_TeammateNameDisplay }}",
        "ExperimentalTownSquareIsReadOnly": {{ Team_ExperimentalTownSquareIsReadOnly }}
    },
    "ClientRequirements": {
        "AndroidLatestVersion": "{{ ClientRequirements_AndroidLatestVersion }}",
        "AndroidMinVersion": "{{ ClientRequirements_AndroidMinVersion }}",
        "DesktopLatestVersion": "{{ ClientRequirements_DesktopLatestVersion }}",
        "DesktopMinVersion": "{{ ClientRequirements_DesktopMinVersion }}",
        "IosLatestVersion": "{{ ClientRequirements_IosLatestVersion }}",
        "IosMinVersion": "{{ ClientRequirements_IosMinVersion }}"
    },
    "SqlSettings": {
        "DriverName": "postgres",
        "DataSource": "postgres://{{ db_user }}:{{ db_password }}@127.0.0.1:5432/{{ db_name }}?sslmode=disable\u0026connect_timeout=10",
        "DataSourceReplicas": [],
        "DataSourceSearchReplicas": [],
        "MaxIdleConns": 20,
        "MaxOpenConns": 300,
        "Trace": false,
        "AtRestEncryptKey": "jksksj85pzbomhs3ockhrzynpgh8ox34",
        "QueryTimeout": 30
    },
    "LogSettings": {
        "EnableConsole": true,
        "ConsoleLevel": "INFO",
        "EnableFile": true,
        "FileLevel": "INFO",
        "FileFormat": "",
        "FileLocation": "",
        "EnableWebhookDebugging": true,
        "EnableDiagnostics": true
    },
    "PasswordSettings": {
        "MinimumLength": 5,
        "Lowercase": false,
        "Number": false,
        "Uppercase": false,
        "Symbol": false
    },
    "FileSettings": {
        "EnableFileAttachments": true,
        "EnableMobileUpload": true,
        "EnableMobileDownload": true,
        "MaxFileSize": 52428800,
        "DriverName": "local",
        "Directory": "./data/",
        "EnablePublicLink": false,
        "PublicLinkSalt": "ey3hcypcwwyqun3nok4dx5k3iiaepqda",
        "InitialFont": "luximbi.ttf",
        "AmazonS3AccessKeyId": "",
        "AmazonS3SecretAccessKey": "",
        "AmazonS3Bucket": "",
        "AmazonS3Region": "us-east-1",
        "AmazonS3Endpoint": "s3.amazonaws.com",
        "AmazonS3SSL": true,
        "AmazonS3SignV2": false,
        "AmazonS3SSE": false,
        "AmazonS3Trace": false
    },
    "EmailSettings": {
        "EnableSignUpWithEmail": true,
        "EnableSignInWithEmail": true,
        "EnableSignInWithUsername": true,
        "SendEmailNotifications": false,
        "RequireEmailVerification": false,
        "FeedbackName": "",
        "FeedbackEmail": "",
        "FeedbackOrganization": "",
        "EnableSMTPAuth": false,
        "SMTPUsername": "",
        "SMTPPassword": "",
        "SMTPServer": "",
        "SMTPPort": "",
        "ConnectionSecurity": "",
        "InviteSalt": "du9bga69i1dknm8wnk8izgb4xm7py5gf",
        "SendPushNotifications": false,
        "PushNotificationServer": "",
        "PushNotificationContents": "generic",
        "EnableEmailBatching": false,
        "EmailBatchingBufferSize": 256,
        "EmailBatchingInterval": 30,
        "SkipServerCertificateVerification": false,
        "EmailNotificationContentsType": "full"
    },
    "RateLimitSettings": {
        "Enable": false,
        "PerSec": 10,
        "MaxBurst": 100,
        "MemoryStoreSize": 10000,
        "VaryByRemoteAddr": true,
        "VaryByHeader": ""
    },
    "PrivacySettings": {
        "ShowEmailAddress": true,
        "ShowFullName": true
    },
    "SupportSettings": {
        "TermsOfServiceLink": "https://about.mattermost.com/default-terms/",
        "PrivacyPolicyLink": "https://about.mattermost.com/default-privacy-policy/",
        "AboutLink": "https://about.mattermost.com/default-about/",
        "HelpLink": "https://about.mattermost.com/default-help/",
        "ReportAProblemLink": "https://about.mattermost.com/default-report-a-problem/",
        "SupportEmail": "feedback@mattermost.com"
    },
    "AnnouncementSettings": {
        "EnableBanner": false,
        "BannerText": "",
        "BannerColor": "#f2a93b",
        "BannerTextColor": "#333333",
        "AllowBannerDismissal": true
    },
    "ThemeSettings": {
        "EnableThemeSelection": true,
        "DefaultTheme": "default",
        "AllowCustomThemes": true,
        "AllowedThemes": []
    },
    "GitLabSettings": {
        "Enable": false,
        "Secret": "",
        "Id": "",
        "Scope": "",
        "AuthEndpoint": "",
        "TokenEndpoint": "",
        "UserApiEndpoint": ""
    },
    "GoogleSettings": {
        "Enable": false,
        "Secret": "",
        "Id": "",
        "Scope": "profile email",
        "AuthEndpoint": "https://accounts.google.com/o/oauth2/v2/auth",
        "TokenEndpoint": "https://www.googleapis.com/oauth2/v4/token",
        "UserApiEndpoint": "https://www.googleapis.com/plus/v1/people/me"
    },
    "Office365Settings": {
        "Enable": false,
        "Secret": "",
        "Id": "",
        "Scope": "User.Read",
        "AuthEndpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
        "TokenEndpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
        "UserApiEndpoint": "https://graph.microsoft.com/v1.0/me"
    },
    "LdapSettings": {
        "Enable": false,
        "LdapServer": "",
        "LdapPort": 389,
        "ConnectionSecurity": "",
        "BaseDN": "",
        "BindUsername": "",
        "BindPassword": "",
        "UserFilter": "",
        "FirstNameAttribute": "",
        "LastNameAttribute": "",
        "EmailAttribute": "",
        "UsernameAttribute": "",
        "NicknameAttribute": "",
        "IdAttribute": "",
        "PositionAttribute": "",
        "SyncIntervalMinutes": 60,
        "SkipCertificateVerification": false,
        "QueryTimeout": 60,
        "MaxPageSize": 0,
        "LoginFieldName": ""
    },
    "ComplianceSettings": {
        "Enable": false,
        "Directory": "./data/",
        "EnableDaily": false
    },
    "LocalizationSettings": {
        "DefaultServerLocale": "en",
        "DefaultClientLocale": "en",
        "AvailableLocales": ""
    },
    "SamlSettings": {
        "Enable": false,
        "Verify": true,
        "Encrypt": true,
        "IdpUrl": "",
        "IdpDescriptorUrl": "",
        "AssertionConsumerServiceURL": "",
        "IdpCertificateFile": "",
        "PublicCertificateFile": "",
        "PrivateKeyFile": "",
        "FirstNameAttribute": "",
        "LastNameAttribute": "",
        "EmailAttribute": "",
        "UsernameAttribute": "",
        "NicknameAttribute": "",
        "LocaleAttribute": "",
        "PositionAttribute": "",
        "LoginButtonText": "With SAML"
    },
    "NativeAppSettings": {
        "AppDownloadLink": "https://about.mattermost.com/downloads/",
        "AndroidAppDownloadLink": "https://about.mattermost.com/mattermost-android-app/",
        "IosAppDownloadLink": "https://about.mattermost.com/mattermost-ios-app/"
    },
    "ClusterSettings": {
        "Enable": false,
        "ClusterName": "",
        "OverrideHostname": "",
        "UseIpAddress": true,
        "UseExperimentalGossip": false,
        "ReadOnlyConfig": true,
        "GossipPort": 8074,
        "StreamingPort": 8075
    },
    "MetricsSettings": {
        "Enable": false,
        "BlockProfileRate": 0,
        "ListenAddress": ":8067"
    },
    "AnalyticsSettings": {
        "MaxUsersForStatistics": 2500
    },
    "WebrtcSettings": {
        "Enable": false,
        "GatewayWebsocketUrl": "",
        "GatewayAdminUrl": "",
        "GatewayAdminSecret": "",
        "StunURI": "",
        "TurnURI": "",
        "TurnUsername": "",
        "TurnSharedKey": ""
    },
    "ElasticsearchSettings": {
        "ConnectionUrl": "http://dockerhost:9200",
        "Username": "elastic",
        "Password": "changeme",
        "EnableIndexing": false,
        "EnableSearching": false,
        "Sniff": true,
        "PostIndexReplicas": 1,
        "PostIndexShards": 1,
        "AggregatePostsAfterDays": 365,
        "PostsAggregatorJobStartTime": "03:00",
        "IndexPrefix": ""
    },
    "DataRetentionSettings": {
        "EnableMessageDeletion": false,
        "EnableFileDeletion": false,
        "MessageRetentionDays": 365,
        "FileRetentionDays": 365,
        "DeletionJobStartTime": "02:00"
    },
    "JobSettings": {
        "RunJobs": true,
        "RunScheduler": true
    },
    "PluginSettings": {
        "Enable": false,
        "Plugins": {}
    }
}
